# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.env/
venv/
env/

# Database
*.sqlite3
db.sqlite3

# Media
/media/

# Static
/staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
