# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg


# Static
/staticfiles/

# Environment
.env
.env/
.venv

# Database
db.sqlite3

# Generated PDFs
*.pdf

# Media uploads
media/uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo